<div class="header">
    <div class="links">
        <a class="link" routerLink="./music-list">
            <div>Музыка</div>
        </a>
        <a class="link" routerLink="./author-list">
            <div>Исполнители</div>
        </a>
    </div>
    <div class="paths">
        @for (item of routes; track $index) {
        <h2>{{item}}/</h2>
        }
    </div>

</div>



<div class="router">
    <router-outlet></router-outlet>
</div>

<div class="player">
    <app-plaeyr></app-plaeyr>
</div>